/* Estilo geral do header */
body {
    margin: 0%;
    padding: 0%;
}

header {
    width: 100%;
    display: flex;
}

.listaLinks {
    width: 60%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 20%;
}

.logo img {
    width: 60%;
    padding: 2% 2%;
}

.links a {
    background-color: white;
    color: #1351b8;
    font-family: 'Ford', sans-serif;
    text-decoration: none;
    margin-left: 4%;
    font-size: 20px;
}

.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo geral do main */

.carro {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Ford', sans-serif;
}

.videoPromocional {
    display: flex;
    justify-content: center;
    background-color: black;    
    height: 100%;
    
}

.videoPromocional iframe {
    height: 60%;
    width: 40%;
    aspect-ratio: 16/9;

}

.carro img {
    width: 75%;
}

.meioMain {
    justify-items: center;
    margin-bottom: 7%;
}

.listaDeCarros {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Ford', sans-serif;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .descricao {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .descricao label {
    line-height: 1.2;
    color: #1351b8;
  }
  
  .info-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    transform: scale(3.0); 
    margin-right: 8px;     
  }

.botaoCompararCarros {
    justify-content: center;
    align-items: center;
    background-color: #1351b8;
    padding: 15px 70px;
    margin-top: 15%;
    font-family: 'Ford', sans-serif;
    color: white;
    cursor: pointer;
    border: 15px;
    border-radius: 12px;
    font-size: 16px;
}

/* Main: Edição da visualização do formulario */
#mainContato {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    flex-wrap: wrap;
}

.carroFormulario img {
    max-width: 400px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Ford', sans-serif;
    font-size: 16px;
    color: #000000;
    min-width: 300px;
    max-width: 400px;
    width: 70%;
}

.formulario input {
    height: 30px;
    border-radius: 10px;
    font-family: 'Ford', sans-serif;
    border: 1px solid #7c7b7b;
}

.formulario select {
    height: 40px;
    border-radius: 12px;
    font-family: 'Ford', sans-serif;
}

.botaoContato {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ford', sans-serif;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background-color: #1351d8;
    padding: 10px 20px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 400px;
    cursor: pointer;

}
/* Estilo geral do footer */
footer {
    background-color: #1b357e;
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 80px;
    align-items: center;
    padding: 0% 1%;
    bottom: 0%;
    position: fixed;
    font-family: 'Ford', sans-serif;
}

.logoinferior img {
    width: 96%;
    height: 43%;
}

footer img {
    width: 50px;
    height: 50px;
}

footer p {
    color: white;
    margin-right: 10px;
}

.RedesSociais {
    display: flex;
}

.logoinferior {
    display: flex;
    color: white;
}

/* Responsividade */
@media (max-width: 1024px) {
    .videoPromocional iframe {
      width: 80%;
    }
  
    .botaoCompararCarros {
      margin-top: 5%;
      padding: 15px 40px;
    }
  
    .links a {
      font-size: 18px;
      margin-left: 3%;
    }
    .meioMain {
        margin-bottom: 28%;
    }
    footer {
        flex-direction: column;
        height: auto;
        width: 100%;
        gap: 10px;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
      }
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    .listaLinks {
      width: 100%;
      justify-content: space-around;
      margin-top: 10px;
    }
  
    .logo {
      width: 100%;
      text-align: center;
    }
    
    .logo img {
      width: 40%;
    }
  
    .videoPromocional iframe {
      width: 100%;
      height: auto;
    }
  
    .descricao {
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
  
    .info-icon {
      margin-top: 5px;
    }
  
    input[type="checkbox"] {
      transform: scale(2);
    }
    main {
        margin-bottom: 25%;
    }
    .botaoCompararCarros {
      margin-top: 10%;
      padding: 12px 25px;
      font-size: 14px;
    }
  
    footer {
      flex-direction: column;
      height: auto;
      gap: 10px;
      text-align: center;
      padding: 10px 0;
      position: fixed;
    }
  
    .logoinferior img {
      width: 50%;
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    .links a {
      font-size: 16px;
      margin: 0 5px;
    }
  
    .videoPromocional iframe {
      width: 100%;
      height: auto;
    }
  
    .botaoCompararCarros {
      width: 100%;
      max-width: 300px;
    }
    main {
        margin-bottom: 32%;
    }
    .item {
      width: 90%;
    }
  
    .descricao {
      text-align: center;
    }

    footer {
        flex-direction: column;
        height: auto;
        gap: 10px;
        text-align: center;
        padding: 10px 0;
        position: fixed;
      }  
  }